#header {
	color: red;
	width: 80%;
	background-color: #666666;
	margin: 30px;
	font-family: arial;
	padding: 10px;
	border-width: 3px;
}

#links {
	width: 80%;
	text-align: right;
}

form {
	text-align: center;
	width: 80%;
}

#advanced_form {
	text-align: left;
}

#advanced_div {
	width: 80%;
	text-align: center;
	padding-top: 20px;
}

#advanced_button {
	color: white;
	background-color: blue;
}